<nav class="navbar navbar-expand navbar-light fixed-top bg-light">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="d-inline d-md-none">
        <img src="assets/image/icons/default_avatar.png" alt="avatar"
          class="img-thumbnail w-25 rounded-circle ml-20-px"><span class="h5 d-none d-sm-inline d-md-none text-muted"
          style="margin-left: 20px;">NombreUsuario</span>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <div class="input-group mb-3 my-auto">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-outline-info" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-dark d-inline d-md-none" type="submit">
            <span>Out</span>
          </button>
        </div>
      </div>
      <div class="d-none d-md-inline ml-10-px" style="margin-left: 10px;">
        <a href="#" class="link text-muted border-left pr-10-px"
          style="padding-left: 10px;margin-left:10px;margin-right:30px">Log Out</a>
      </div>

    </form>
  </div>
</nav>
<header class="jumbotron jumbotron-fluid pt-100-px pb-0-px" style="padding-top: 100px;padding-bottom: 0;">
  <div class="container headerJumbo">
    <div class="row" style="position: relative; top: 20px;">
      <div class="col-3">
        <img src="assets/image/icons/default_avatar.png" alt="avatar"
          class="img-thumbnail d-none d-md-inline rounded-circle avatar">
      </div>
      <div class="col container" style="margin-top: 10px;">
        <div class="row" style="padding-top: 40px;">
          <div class="col text-center text-md-left d-sm-none d-md-inline">
            <p class="display-4 text-muted">NombreUsuario</p>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex d-md-inline justify-content-center">
            <button class="btn btn-light border border-0 border-btn-nav align-bottom botonJumbo"> Nombre de gremio
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
<main class="w-100 w-sm-75 mx-auto container">
  <div class="row">
    <div class="col-3 border-right d-none d-sm-block" style="margin-left:10px;">
      <!--<hr class="w-75 mx-auto" /> -->
      <div class="list-group text-center" style="margin: 20px 10px ;">
        <a href="#" class="list-group-item list-group-item-action">Aliados</a>
        <a href="#" class="list-group-item list-group-item-action">General</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Gremio</a>
      </div>


    </div>
    <div class="col">
      <div class="w-100 h-100 bg-light">
        <div class="w-50 h-75 mx-auto p-25 text-muted text-center text-wrap">
          <p class="font-size-20 font-weight-600" style="padding:10px;">
            <span style="margin:100px 0;">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              No se ha entcontrado contenido para esta pagina
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
