<!-- Pagina home provisional a falta de un mockup diseñado especificamente para esta -->
<h6 class="text-center" style="margin-top: 50px;">si vis pacem</h6>
<h1 class="text-center text-danger">Para bellum</h1>

<div class="container w-75 mx-auto" style="margin-top: 100px;">

  <div class="row">

    <div class="col botoncentrado"><a href="../login"><button class="btn btn-outline-danger">login</button></a></div>
    <div class="col botoncentrado offset-1"><a href="../parabellum"><button class="btn btn-outline-danger"> perfil</button></a></div>
    <div class="col botoncentrado offset-1"><a href="../register"><button class="btn btn-outline-danger">register</button></a></div>

  </div>

</div>
